#cloud-config

hostname: hardcoreos

write_files:
  path: /etc/systemd/coredump.conf
  content: | 
     [Coredump]
     Compress=yes
     MaxUse=3G

coreos:
  units:
    - name: etcd.service
      command: start

    - name: fleet.service
      command: start

    - name: video.mount
      command: start
      enable: true
      content: |
        [Unit]
        Description=NFS Video Directory
        Documentation=man:hier(7)
        DefaultDependencies=no
        Conflicts=umount.target
        Restart=always
        Before=local-fs.target umount.target
        Requires=network-online.target
        Requires=rpc-statd.service
        After=network-online.target
        After=rpc-statd.service

        [Mount]
        What=172.16.222.141:/i-data/1c2707a0/video
        Where=/video
        Type=nfs
        Options=ro

    - name: photo.mount
      command: start
      enable: true
      content: |
        [Unit]
        Description=NFS Photo Directory
        Documentation=man:hier(7)
        DefaultDependencies=no
        Conflicts=umount.target
        Restart=always
        Before=local-fs.target umount.target
        Requires=network-online.target
        Requires=rpc-statd.service
        After=network-online.target
        After=rpc-statd.service

        [Mount]
        What=172.16.222.141:/i-data/1c2707a0/photo
        Where=/photo
        Type=nfs
        Options=ro

    - name: music.mount
      command: start
      enable: true
      content: |
        [Unit]
        Description=NFS Music Directory
        Documentation=man:hier(7)
        DefaultDependencies=no
        Conflicts=umount.target
        Restart=always
        Before=local-fs.target umount.target
        Requires=network-online.target
        Requires=rpc-statd.service
        After=network-online.target
        After=rpc-statd.service

        [Mount]
        What=172.16.222.141:/i-data/1c2707a0/music
        Where=/music
        Type=nfs
        Options=ro

ssh_authorized_keys:
  - ssh-rsa [YOUR_KEY_HERE]
